@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #11112b;
  color: white;
  font-family: "Poppins", sans-serif;
}

.head {
  background: linear-gradient(97deg, #92deed 30.1%, #fff 94.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk", sans-serif;
}
.spacefont {
  font-family: "Space Grotesk", sans-serif;
}
.line {
  background: linear-gradient(97deg, #92deed 30.1%, #fff 94.6%);
}
.card {
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(5px);
}
.card:hover {
  border-radius: 25px;

  background: linear-gradient(180deg, #11112b 0%, #92DEED 100%);
 border: none;
  box-shadow: 0px -2px 32px 2px #92DEED;
}
.card1{
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(5px);
}
.card2{
  border-radius: 25px;

  background: linear-gradient(180deg, #11112b 0%, #92DEED 100%);
 border: none;
  box-shadow: 0px -2px 32px 2px #92DEED;
}
.contact-card{
  border-radius: 50px;
/* border: 1px solid rgba(255, 255, 255, 0.20); */
background:  linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
}
.up{
  background:  linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.10) 100%);
}
